.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainPage {
  background-image: url("./static/images/backgrounds.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  background-color:#E7D44B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in width/height calculations */
}

.mainHeading {
  color: black;
  font-size: 100px;
  margin-top:10px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  color:#4285f4;
  text-shadow: 5px 5px 0px rgb(255, 255, 255); 
  
  letter-spacing:10px;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items:  center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.red-circle {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  opacity: 1;
}

.add-task-btn {
  align-self: center;
  left: 50%;
  top:10%;
  background-color: #f5eeb700;
  border-color: #c8042800;
  color: #69626D;
  height: fit-content;
  width: fit-content;
  font-size:40px;
  font-weight: bold;
  z-index: 1; /*layer order*/
}

.add-task-btn:hover {
  color: #DC042C;
  font-weight: bold;
}

.lists-row {
  display: flex;
  justify-content: center;
  gap: 30px 20%;  /*row gap, then column gap*/
  margin-top: 30px;
  
}

.lists-col {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sticky-note1, .sticky-note2 {
  width: 150%;
  height: auto;
}

.red-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 1;
}

.completed-list, .incomplete-list {
  position: absolute;
  top: 2%;
  width: fit-content;
  z-index: 1;

  font-family: comic sans ms;
  font-size: 35px;
  color: black;
  text-align: center;
}

.incomplete-list {
  left: 26%; /*10 for left, 30 for center, more for right*/
}

.input-txt {
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 7%;
}
.completed-list {
  left: 40%; /*10 for left, 30 for center, more for right*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
