.button-div {
  display: flex;
  justify-content: center;
  align-items:  center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.red-circle {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  opacity: 1;
}

.add-task-btn {
  align-self: center;
  left: 50%;
  top:10%;
  background-color: #f5eeb700;
  border-color: #c8042800;
  color: #69626D;
  height: fit-content;
  width: fit-content;
  font-size:40px;
  font-weight: bold;
  z-index: 1; /*layer order*/
}

.add-task-btn:hover {
  color: #DC042C;
  font-weight: bold;
}

.lists-row {
  display: flex;
  justify-content: center;
  gap: 30px 20%;  /*row gap, then column gap*/
  margin-top: 30px;
  
}

.lists-col {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sticky-note1, .sticky-note2 {
  width: 150%;
  height: auto;
}

/* .red-circle {
  position: absolute;
  width: 150%;
  height: auto;
  border-radius: 50%;
  opacity: 1;
  top: -22%;
  left: -10%;
  z-index:0.5;
} */

.input-txt {
  background-color:#E7D44B00;
  border-color:#E7D44B00;

  width: calc(450px * 90/100);
  height: calc(513px * 60/100);
  resize: none;

  z-index: 1;
  position: absolute;
  top: 30%;
  left: 7%;

  font-size: 30px;
}

.input-txt:focus {
  outline: none;
  border-color: #4285f400;
  box-shadow: 0 0 5px #FF8C42;
}

.completed-list, .incomplete-list {
  position: absolute;
  top: 2%;
  width: fit-content;
  z-index: 1;

  font-family: comic sans ms;
  font-size: 35px;
  color: black;
  text-align: center;
}

.incomplete-list {
  left: 26%; /*10 for left, 30 for center, more for right*/
}

.completed-list {
  left: 40%; /*10 for left, 30 for center, more for right*/
}

.task-cols {
  position: absolute;
  top: 18%;
  width: 100%;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.task-item {
  background: none;
  border: none;

  width: fit-content;
  height: fit-content;
  resize: none;

  top: 30%;
  left: 7%;

  font-size: 30px;
  gap: 10px;
  display: flex;
}

.checkbox {
  width: 30px;
  height: 30px;
}

.list-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  width: calc(450px * 82/100);
  height: 30px;
  resize: none;
}